<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>dev.bozo.bozod</string>
	<key>CFBundleName</key>
	<string>bozod</string>
	<key>CFBundleExecutable</key>
	<string>bozod</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSBackgroundOnly</key>
	<true/>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>bozod needs Bluetooth to communicate with your Bose headphones</string>
</dict>
</plist>
